<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/tabela.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/menu.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script  type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
<script  type="text/javascript" src="/javascripts/typeahead.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

<title>Bazar Olimpio | Home</title>
</head>

<body> 
  
    <aside id="barraMenu">
      <nav id="conteudoBarraMenu">
        <ul>
          <li><a href="home" class="lnkBranco"><i class="fas fa-home"></i></i>&nbsp;Home</a></li>
    
          <li>
            <a id="itemConf1" href="" class="lnkBranco"><i class="fas fa-tag"></i>&nbsp;Produtos</a>
            <ul class="lstSubMenu1 submenu" >
              <li><a href="novoproduto" class="lnkSubItem subitem" > Novo Produto</a> </li>
              <li><a href="produtoxml" class="lnkSubItem subitem" > Adicionar nota XML</a> </li>
              <li><a href="saidaproduto" class="lnkSubItem subitem" > Saída de Produto </a> </li>
              <li><a href="editarproduto" class="lnkSubItem subitem" > Editar Produto </a> </li>
            </ul>
          </li>
    
          <li>
            <a id="itemConf2" href="" class="lnkBranco"><i class="fas fa-truck"></i></i>&nbsp;Fornecedores</a>
            <ul class="lstSubMenu2 submenu" >
              <li><a href="novofornecedor" class="lnkSubItem subitem" > Novo Fornecedor</a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Editar Fornecedor</a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Pesquisar Fornecedor</a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Lista de Fornecedores </a> </li>
            </ul>
          </li>
    
          <li>
            <a id="itemConf3" href="" class="lnkBranco"><i class="far fa-clipboard"></i> &nbsp;Relatórios</a>
            <ul class="lstSubMenu3 submenu" >
              <li><a href="" class="lnkSubItem subitem" > Produtos sem estoque </a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Mais Vendidos </a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Menos Vendidos </a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Produtos Comprados </a> </li>
            </ul>
          </li>
          
    
          <li> 
            <a id="itemConf4"  class="lnkBranco" href="#"> <i class="fas fa-dollar-sign"></i>&nbsp;Lucro </a>
            <ul class="lstSubMenu4 submenu" >
              <li><a href="#" class="lnkSubItem subitem" > Por mês </a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Por Semana </a> </li>
              <li><a href="#" class="lnkSubItem subitem" > Por Ano </a> </li>
            </ul>
          </li>
    
          <li> 
            <a id="itemConf5" href="#" class="lnkBranco"><i class="fas fa-wallet"></i> </i>&nbsp;Despesas</a>
            <ul class="lstSubMenu5 submenu">
              <li><a href="" class="lnkSubItem subitem">Loja</a></li>
              <li><a href="" class="lnkSubItem subitem">Pessoais</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    
    <div id="barraIdentificacao">
      <div id="logo"></div>
      <div id="conteudoId"> Olá <b><span id="lblLogado"> <%= usuario %></span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
        <button type="button" id="btnSair"> Sair</button>
      </div>
    </div>

      
<div id="conteudo"> 
<h1> Fornecedores </h1>
<br>
<h2> Lista de Fornecedores</h2>

<table class="table">
    <thead>
        <tr>
          <th scope="col">Código Fornecedor:</th>
          <th scope="col">Nome Fornecedor:</th>
          <th scope="col">Vendedor:</th>
          <th scope="col">Telefone Vendedor:</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>


        </tr>
    </thead>
    <tbody>
            <% for (var i =0; i< fornecedores.length; i++){ %>

    <tr>
        <td> <%= fornecedores[i].cd_fornecedor %> </td>
        <td> <%= fornecedores[i].nm_fantasia %> </td>
        <td> <%= fornecedores[i].nm_vendedor %> </td>
        <td> <%= fornecedores[i].cd_telvendedor%> </td>
        <td> Editar </td>
        <td> <a href='fornecedores/delete/<%= fornecedores[i].cd_fornecedor %>' onclick= 'return confirm("Tem certeza?");'> Excluir </a></td>

    </tr>
      <% } %>
      <tbody>

</table>
