<% include header %>
<% include aside %>
    
    <div id="barraIdentificacao">
      <div id="logo"></div>
      <div id="conteudoId"> Olá <b><span id="lblLogado"> <%= usuario %></span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
        <button type="button" id="btnSair"> Sair</button>
      </div>
    </div>

      
<div id="conteudo"> 
<h1> Fornecedores </h1>
<br>
<h2> Lista de Fornecedores</h2>

<table class="table">
    <thead>
        <tr>
          <th scope="col">Código Fornecedor:</th>
          <th scope="col">Nome Fornecedor:</th>
          <th scope="col">Vendedor:</th>
          <th scope="col">Telefone Vendedor:</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>


        </tr>
    </thead>
    <tbody>
            <% for (var i =0; i< fornecedores.length; i++){ %>

    <tr>
        <td> <%= fornecedores[i].cd_fornecedor %> </td>
        <td> <%= fornecedores[i].nm_fantasia %> </td>
        <td> <%= fornecedores[i].nm_vendedor %> </td>
        <td> <%= fornecedores[i].cd_telvendedor%> </td>
        <td> <a href="/edit/<%= fornecedores[i].cd_fornecedor %>" onclick= 'return confirm("Deseja editar esse fornecedor ?");'> Editar </a></td>
        <td> <a href='/delete/<%= fornecedores[i].cd_fornecedor %>' onclick= 'return confirm("Tem certeza ?");'> Excluir </a></td>

    </tr>
      <% } %>
      <tbody>

</table>
