<% include header %>
<% include aside %>

    <div id="barraIdentificacao">
      <div id="logo"></div>
      <div id="conteudoId"> Olá <b><span id="lblLogado"> <%= usuario %> </span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
        <button type="button" id="btnSair"> Sair</button>
      </div>
    </div>

    <div id="conteudo">
        <h1>Produto</h1>
        <br>
          <h2> Ler Nota XMl</h2>
          <br>
          <h5>Escolha a nota:</h5>
          <hr class="divisoria" />

 <form id="form"  method="POST" enctype="multipart/form-data">        
<input type="file" name="upXml" />
<button type="submit">Ler</button>
</form>
<br>       
<hr class="divisoria" />

<h5>Selecione abaixo os produtos que deseja salvar:</h5>


<form id="form" method="POST" action="/salvarProdutos" >
<table class="table">
        <thead>
          <tr>
            <th scope="col"><input type="checkbox" /></th>
            <th scope="col">Cód.Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">NCM</th>
            <th scope="col">Embalagem</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Valor Total</th>
          </tr>
        </thead>

        <tbody>
         
          <% for (var i =0; i< produtos.length; i++){ %>
          
            <tr>
              <td scope="row">
                <input name="selecionado[<%- i -%>]" type="checkbox" value="true" />
                <input name="cd_produto[<%- i -%>]" type="hidden" value ="<%= produtos[i].cProd %>"   />
                <input name="cd_ncm[<%- i -%>]"  type="hidden" value = "<%= produtos[i].NCM %>"/>
                <input name="ds_produto[<%- i -%>]"  type="hidden" value= "<%= produtos[i].xProd %>" />
                <input name="qt_produto[<%- i -%>]"  type="hidden"  value = "<%= produtos[i].qCom %>"/>
                <input name="vl_unitario[<%- i -%>]"  type="hidden" value = "<%= produtos[i].vUnCom %>" />
                <input name="vl_total[<%- i -%>]"  type="hidden" value = "<%= produtos[i].vProd %>" />
                <input name="tipo_embalagem_nm_tipo_embalagem[<%- i -%>]"   type="hidden" value = "<%= produtos[i].uCom %>" />

              </td>
              <td> <%= produtos[i].cProd %> </td>
              <td> <%= produtos[i].xProd %> </td>
              <td> <%= produtos[i].NCM %> </td>
              <td> <%= produtos[i].uCom %> </td>
              <td> <%= produtos[i].qCom %> </td>
              <td> <%= produtos[i].vUnCom %> </td>
              <td> <%= produtos[i].vProd %> </td>
                </tr>
                <% } %>
        </tbody>
      </table>
      <button type="submit" id="btnok">Salvar</button>
  </form>
  <br>
</div>


</body>
<script>
    //var produtos = <%= JSON.stringify(produtos)%>;
    //console.log(produtos);//Caso queira fazer com javascript

    function editar(produtos){
      var p = JSON.parse(produtos);


      var div = document.getElementById('container-editar');

      var cod = document.getElementById('cd_prod');
      var qttd = document.getElementById('qt_prod');
      var embalagem = document.getElementById('tipo_embalagem');

      cod.value = p.cProd;
      qttd.value = p.qCom;
      embalagem.value=p.uCom;


      div.style.display='block';
      console.log(p.uCom);
    }
  
</script>

</html>