<div id="relatorio">

    <h2> Relátório <%= title %> </h2>

    <form onsubmit="return false;">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Código:</th>
              <th scope="col">Produto:</th>
              <th scope="col">Quantidade:</th>
            </tr>
        </thead>

        <tbody>
                <% for (var i =0; i< produtos.length; i++){ %>
    
        <tr>
            <td> <%= produtos[i].estoque_cd_produto %> </td>
            <td> <%= produtos[i].ds_produto %> </td>
            <td> <%= produtos[i].qt_soma %> </td>
    
        </tr>
          <% } %>
          <tbody>
    
    </table>
    <button id="btnGeraPdf" onclick="geraPdf('<%= JSON.stringify(produtos)%>')"> Salvar como Pdf </button>
    <button id="btnInprimir">Imprimir</button>
</form>
</div>
<script>



function geraPdf(produtos){
    var dados = JSON.parse(produtos)
    const listaCodigos = dados.reduce((novoArray, atual) => {
  novoArray.push(atual.estoque_cd_produto);
  return novoArray;
}, []);

 const listaProdutos = dados.reduce((novoArray, atual) => {
  novoArray.push(atual.ds_produto);
  return novoArray;
}, []);

const listaQtdd = dados.reduce((novoArray, atual) => {
  novoArray.push(atual.qt_soma);
  return novoArray;
}, []);

    var dd = {
      pageSize: 'A4',
      // [left, top, right, bottom] or [horizontal, vertical] 
  pageMargins: [ 40, 60, 40, 60 ],
	content: [
    {text: 'Relatório do dia ', style: 'header'},
		{
			table: {
                style:'table',
                headerRows: 1,
				body: [
					['Código', 'Descrição', 'Quantidade'],
					[listaCodigos, listaProdutos, listaQtdd],
				]
            },
            footer: 
              function(currentPage, pageCount) { return currentPage.toString() + ' of ' + pageCount; },
            layout: {
				fillColor: function (i, node) {
					return (i % 2 === 0) ? '#CCCCCC' : null;
				}
			}
		},
		
    ],
    styles: {
     header: {
       fontSize: 18,
       bold: true,
       margin: [20, 20, 0, 20],
       alignment: 'center'
      
     },
     items: {
       alignment: 'center'
       
     },
   }
 };
    
pdfMake.createPdf(dd).open();
// download the PDF
pdfMake.createPdf(dd).download('relatorio.pdf');
}
</script>