<div id="relatorio">

    <h2> Relátório <%= title %> </h2>

    <form onsubmit="return false;">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Código:</th>
              <th scope="col">Produto:</th>
              <th scope="col">Quantidade:</th>
    
    
            </tr>
        </thead>
        <tbody>
                <% for (var i =0; i< produtos.length; i++){ %>
    
        <tr>
            <td> <%= produtos[i].estoque_cd_produto %> </td>
            <td> <%= produtos[i].ds_produto %> </td>
            <td> <%= produtos[i].qt_soma %> </td>
    
        </tr>
          <% } %>
          <tbody>
    
    </table>
    <button id="btnGeraPdf"   onclick="geraPdf('<%= JSON.stringify(produtos)%>')"> Salvar como Pdf </button>
    <button id="btnInprimir">Imprimir</button>
</form>
</div>
<script>

function geraPdf(produtos){

     var docDefinition = [
     {
			style: 'table',
         table: { 
				body: [
                    ['Código', 'Descrição', 'Quantidade'],
					[function(){
                        for(var i=0; i<= produtos.length; i++){
                            return produtos.estoque_cd_produto[i];
                        }

                    }, 'Another one here', 'OK?']
				]
            }
     }
     ]

pdfMake.createPdf(docDefinition).open();
// download the PDF
pdfMake.createPdf(docDefinition).download('relatorio.pdf');
}




</script>